{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}}
]}.

{sub_dirs, [
            "apps/greeting_worker",
            "rel"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R15"}.
{lib_dirs, ["deps"]}.
{deps_dir,["deps"]}.
